html, body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0; }

body:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

.container-block {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px; }

.menu-list, .h-bl-ri, .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.h-bl-all, .modal-other-block, .so-bl-all, .st-bl-center, .f-bl-all, .f-bl-contact, .f-bl-socia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.modal-other-form, .form-other-block, .modal-square, .so-bl-lf-media, .st-bl-all, .bl-level, .bl-portfolio, .sf-bl-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.clearfix:after {
  display: table;
  clear: both;
  content: ''; }

/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v19-latin_cyrillic-italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto-v19-latin_cyrillic-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v19-latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/roboto-v19-latin_cyrillic-italic.woff") format("woff"), url("../fonts/roboto-v19-latin_cyrillic-italic.ttf") format("truetype"), url("../fonts/roboto-v19-latin_cyrillic-italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v19-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v19-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v19-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v19-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v19-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v19-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v19-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v19-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v19-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v19-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v19-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v19-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v19-latin_cyrillic-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/roboto-v19-latin_cyrillic-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v19-latin_cyrillic-700italic.woff2") format("woff2"), url("../fonts/roboto-v19-latin_cyrillic-700italic.woff") format("woff"), url("../fonts/roboto-v19-latin_cyrillic-700italic.ttf") format("truetype"), url("../fonts/roboto-v19-latin_cyrillic-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto-v19-latin_cyrillic-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/roboto-v19-latin_cyrillic-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v19-latin_cyrillic-500italic.woff2") format("woff2"), url("../fonts/roboto-v19-latin_cyrillic-500italic.woff") format("woff"), url("../fonts/roboto-v19-latin_cyrillic-500italic.ttf") format("truetype"), url("../fonts/roboto-v19-latin_cyrillic-500italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v19-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v19-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v19-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v19-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v19-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v19-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v19-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v19-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v19-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v19-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-900italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/roboto-v19-latin_cyrillic-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../fonts/roboto-v19-latin_cyrillic-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v19-latin_cyrillic-900italic.woff2") format("woff2"), url("../fonts/roboto-v19-latin_cyrillic-900italic.woff") format("woff"), url("../fonts/roboto-v19-latin_cyrillic-900italic.ttf") format("truetype"), url("../fonts/roboto-v19-latin_cyrillic-900italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

_:-ms-fullscreen, :root .so-el-bg:nth-child(odd) {
  background: transparent;
  color: #f26522; }

_:-ms-lang(x), .so-el-bg:nth-child(odd) {
  background: transparent;
  color: #f26522; }

_:selection, .so-el-bg:nth-child(odd) {
  background: transparent;
  color: #f26522; }

_:-ms-fullscreen, :root .so-el-bg:nth-child(even) {
  background: transparent;
  color: #fa0891; }

_:-ms-lang(x), .so-el-bg:nth-child(even) {
  background: transparent;
  color: #fa0891; }

_:selection, .so-el-bg:nth-child(even) {
  background: transparent;
  color: #fa0891; }

_:-ms-fullscreen, :root .sf-el-bg {
  background: transparent;
  color: white; }

_:-ms-lang(x), .sf-el-bg {
  background: transparent;
  color: white; }

_:selection, .sf-el-bg {
  background: transparent;
  color: white; }

_:-ms-fullscreen, :root .bl-level {
  display: block; }

_:-ms-lang(x), .bl-level {
  display: block; }

_:selection, .bl-level {
  display: block; }

_:-ms-fullscreen, :root .bl-level-icon {
  display: block;
  margin: 0 auto; }

_:-ms-lang(x), .bl-level-icon {
  display: block;
  margin: 0 auto; }

_:selection, .bl-level-icon {
  display: block;
  margin: 0 auto; }

_:-ms-fullscreen, :root .other-form-bt {
  max-width: 380px; }

_:-ms-lang(x), .other-form-bt {
  max-width: 380px; }

_:selection, .other-form-bt {
  max-width: 380px; }

_:-ms-fullscreen, :root .modal-other-description {
  max-width: 380px; }

_:-ms-lang(x), .modal-other-description {
  max-width: 380px; }

_:selection, .modal-other-description {
  max-width: 380px; }

@supports (-ms-ime-align: auto) {
  .so-el-bg:nth-child(odd) {
    background: -webkit-gradient(linear, left bottom, left top, from(#f26522), color-stop(99%, #fa0891), to(#fa0891));
    background: -webkit-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background: -o-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; } }

@supports (-ms-ime-align: auto) {
  .so-el-bg:nth-child(even) {
    background: -webkit-gradient(linear, left bottom, left top, from(#f26522), color-stop(99%, #fa0891), to(#fa0891));
    background: -webkit-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background: -o-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
    background: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; } }

.header {
  background-color: #fbfbfb; }

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.menu-list-item:nth-child(2) {
  margin: 0 30px; }

.menu-list-item-link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #1f1f24; }

.menu-list-item-link:hover {
  color: #fc557c;
  border-bottom: 1px solid #fc557c; }

.tel {
  font-size: 25px;
  font-weight: 700;
  margin-right: 30px;
  color: #1f1f24; }

.bt-callback {
  font-size: 16px;
  font-weight: 400;
  padding: 12px 35px;
  color: #f53f4f;
  border: 1px solid #f82370;
  background: none; }

.bt-callback:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f82370; }

.menu-modal-container {
  display: none; }

.modal-callback-container, .modal-other-container {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  display: none;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); }

.modal-callback-block {
  overflow: hidden;
  max-width: 700px;
  max-height: 400px;
  margin: 0 auto;
  margin-top: 15%;
  background-color: #fff; }

.callback-form[placeholder] {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #1f1f24; }

.callback-form[placeholder]:focus {
  color: #ff4e2e; }

.modal-callback-form, .modal-other-form {
  position: relative;
  padding: 20px; }

.modal-callback-form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.modal-callback-title, .modal-other-title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  text-align: left; }

.modal-callback-description-top {
  max-width: 320px;
  margin-top: 10px; }

.form-block {
  margin: 50px 0 30px 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

input {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.callback-form {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ff4e2e; }

.callback-form:invalid {
  box-shadow: none; }

.callback-form:nth-child(2) {
  margin: 0 20px; }

.callback-form-bt {
  max-width: 800px;
  padding: 10px 45px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.modal-callback-description-bottom {
  font-size: 12px;
  max-width: 500px; }

.modal-callback-description-bottom-two {
  max-width: 600px; }

.modal-circle {
  position: absolute;
  top: -18%;
  right: -8%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  border-radius: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f26522), color-stop(99%, #fa0891), to(#fa0891));
  background: -webkit-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background: -o-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%); }

.modal-close {
  position: absolute;
  top: 65%;
  right: 65%;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  opacity: .8;
  color: #fff; }

.modal-circle:hover {
  width: 115px;
  height: 115px; }
  .modal-circle:hover .modal-close {
    font-size: 28px;
    top: 57%;
    right: 59%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 1; }

.modal-other-block {
  position: relative;
  overflow: hidden;
  max-width: 800px;
  max-height: 500px;
  margin: 0 auto;
  margin-top: 15%;
  background-color: #fff; }

.modal-other-form {
  width: 50%; }

.modal-other-form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.form-other-block {
  width: 100%; }

.modal-other-img {
  display: block;
  width: 50%;
  height: 500px;
  content: ' ';
  background: url("../img/modal/it.jpg") 60% 100% no-repeat;
  background-size: cover; }

.other-form[placeholder] {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #1f1f24; }

.other-form[placeholder]:focus {
  color: #ff4e2e; }

.modal-other-description-bottom {
  font-size: 14px;
  max-width: 100%; }

.other-form-bt {
  width: 100%;
  margin: 10px 0; }

.other-form {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ff4e2e; }

.other-form {
  width: 100%;
  margin: 7px 0; }

.modal-other-description-top {
  margin: 10px 0; }

.modal-other-description-bottom-one {
  margin-top: 5px; }

.modal-square {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#f26522), color-stop(99%, #fa0891), to(#fa0891));
  background: -webkit-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background: -o-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%); }

.modal-square-close {
  line-height: 35px;
  display: block;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  text-align: center;
  opacity: .8;
  color: #fff; }

.modal-square:hover .modal-square-close {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 1; }

.modal-project-container {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: none;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-color: #fff; }

.modal-project {
  width: 100%;
  height: 100%; }

.modal-project-main {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden; }

.modal-project-img {
  width: 100%;
  vertical-align: middle; }

.modal-project-circle {
  position: absolute;
  z-index: 9999999;
  top: -3%;
  right: -6%;
  width: 200px;
  height: 200px;
  cursor: pointer;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  border-radius: 245px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f26522), color-stop(99%, #fa0891), to(#fa0891));
  background: -webkit-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background: -o-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%); }

.modal-project-close {
  font-size: 28px;
  position: absolute;
  z-index: 99999999;
  top: 66%;
  right: 67%;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  opacity: .8;
  color: #fff; }

.modal-project-circle:hover {
  width: 245px;
  height: 245px; }
  .modal-project-circle:hover .modal-project-close {
    font-size: 28px;
    top: 62%;
    right: 64%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 1; }

.section-one {
  position: relative;
  overflow: hidden;
  background: url("../img/main/Ellipse.png") 100% 0 no-repeat;
  background-color: #fbfbfb; }

.title-site {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  color: #1f1f24; }

.description-site {
  font-size: 25px;
  font-weight: 400;
  margin: 20px 0 45px 0;
  color: #8993ad; }

.bt-all-style {
  font-size: 16px;
  font-weight: 400;
  padding: 16px 52px;
  color: #fff;
  border: none;
  background: #ff4e2e; }

.bt-all-style:hover {
  cursor: pointer;
  color: #fff;
  background-image: -webkit-linear-gradient(77deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%);
  background-image: -o-linear-gradient(77deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%);
  background-image: linear-gradient(13deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%); }

.el-bg {
  font-size: 43px;
  font-weight: 700;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#f26522), color-stop(99%, #fa0891), to(#fa0891));
  background: -webkit-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background: -o-linear-gradient(bottom, #f26522 0%, #fa0891 99%, #fa0891 100%);
  background: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.so-el-bg:nth-child(2) {
  top: 12%;
  left: 20%;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg); }

.so-el-bg:nth-child(3) {
  top: 20%;
  left: 45%;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg); }

.so-el-bg:nth-child(4) {
  top: 55%;
  left: 10%;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg); }

.so-el-bg:nth-child(5) {
  bottom: 20%;
  left: 40%;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.so-el-bg:nth-child(6) {
  bottom: 5%;
  left: 15%;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg); }

.so-bl-lf-media {
  margin-top: 20px; }

@-webkit-keyframes mediaTeg-one {
  0% {
    top: -10%;
    left: -10%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes mediaTeg-one {
  0% {
    top: -10%;
    left: -10%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes mediaTeg-two {
  0% {
    top: -10%;
    left: 45%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes mediaTeg-two {
  0% {
    top: -10%;
    left: 45%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes mediaTeg-three {
  0% {
    top: 50%;
    left: -10%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes mediaTeg-three {
  0% {
    top: 50%;
    left: -10%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes mediaTeg-four {
  0% {
    bottom: -10%;
    left: 40%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes mediaTeg-four {
  0% {
    bottom: -10%;
    left: 40%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes mediaTeg-five {
  0% {
    bottom: -10%;
    left: 15%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes mediaTeg-five {
  0% {
    bottom: -10%;
    left: 15%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.st-bl-all {
  padding: 100px 0; }

.title-bl {
  font-size: 54px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  color: #1f1f24; }

.st-bl-center {
  margin: 90px 0 90px 0; }

.bl-level {
  max-width: 270px; }

.bl-level-des {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #8993ad; }

.section-three {
  background-color: #fbfbfb; }

.bl-portfolio {
  width: 100%; }

.bl-portfolio:nth-child(2) {
  margin: 0 30px; }

.bl-portfolio:hover {
  cursor: pointer; }

.arrow-left, .owl-prev {
  top: 30%;
  left: -30px;
  background: url("../img/icon/left-arrow.png") no-repeat center !important; }

.arrow-right, .owl-next {
  top: 30%;
  right: -30px;
  background: url("../img/icon/right-arrow.png") no-repeat center !important; }

.owl-prev > span {
  display: none; }

.owl-next > span {
  display: none; }

.arrow, .owl-prev, .owl-next {
  position: absolute;
  z-index: 99;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
  background-color: #fff !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08); }

.arrow:hover {
  cursor: pointer; }

.bl-portfolio-des {
  margin-top: 35px;
  text-align: center; }

.bl-portfolio-link {
  text-decoration: none;
  color: #1f1f24; }

.container-st-bl-center {
  position: relative; }

.bl-portfolio-img {
  width: 100%; }

.owl-stage-outer {
  max-width: 1100px !important; }

.owl-nav {
  margin: 0 !important; }

.section-four {
  position: relative;
  padding: 50px 0 50px 0;
  background-image: -webkit-linear-gradient(77deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%);
  background-image: -o-linear-gradient(77deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%);
  background-image: linear-gradient(13deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%); }

.sf-bl-all {
  max-width: 950px;
  margin: 0 auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.title-bl-wh {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  max-width: 950px;
  margin: 0 0 40px 0;
  color: #fff; }

.description-bl-wh {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 750px;
  margin: 0;
  color: #fff; }

.description-bl-wh-star {
  font-size: 24px; }

.section-four .el-bg {
  -webkit-text-fill-color: #fff; }

.sf-el-bg:nth-child(2) {
  top: 11%;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sf-el-bg:nth-child(3) {
  top: 15%;
  right: 15%;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg); }

.sf-el-bg:nth-child(4) {
  top: 40%;
  left: 13%;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg); }

.sf-el-bg:nth-child(5) {
  font-size: 36px;
  bottom: 15%;
  left: 19%;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg); }

.sf-el-bg:nth-child(6) {
  font-size: 33px;
  right: 25%;
  bottom: 21%;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.f-bl-all {
  padding: 80px 0 80px 0; }

.f-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.f-menu-list-item:nth-child(2) {
  margin: 15px 0 15px 0 !important; }

.f-bl-socia-link {
  text-decoration: none; }

.f-menu-list-item-link {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #8993ad; }

.f-menu-list-item-link:hover {
  color: #000; }

.f-bl-em {
  margin-top: 20px; }

.f-bl-contact {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.f-el-contact {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  color: #000; }

.f-el-icon {
  font-size: 20px;
  line-height: 25px;
  margin-right: 15px;
  color: #f82370; }

.f-bl-socia {
  margin-top: 20px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.f-socia-icon {
  font-size: 36px;
  display: block;
  cursor: pointer;
  text-align: center;
  opacity: .4;
  color: #82899a; }

.f-socia-icon:hover {
  color: #31293c; }

.footer-bottom {
  padding: 20px 0;
  background-color: #31293c; }

.footer-text-wh {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: #fff; }

@media (min-width: 1300px) and (max-width: 1600px) {
  .modal-project-circle {
    width: 180px;
    height: 180px;
    border-radius: 190px; }
  .modal-project-close {
    position: absolute;
    top: 63%;
    right: 63%; }
  .modal-project-circle:hover {
    width: 190px;
    height: 190px; }
    .modal-project-circle:hover .modal-project-close {
      font-size: 28px;
      top: 60%;
      right: 62%;
      opacity: 1; } }

@media (min-width: 1100px) and (max-width: 1299px) {
  .modal-project-circle {
    width: 150px;
    height: 150px;
    border-radius: 160px; }
  .modal-project-close {
    position: absolute;
    top: 61%;
    right: 61%; }
  .modal-project-circle:hover {
    width: 160px;
    height: 160px; }
    .modal-project-circle:hover .modal-project-close {
      font-size: 28px;
      top: 60%;
      right: 62%;
      opacity: 1; } }

@media (min-width: 1000px) and (max-width: 1099px) {
  .modal-project-circle:hover {
    width: 140px;
    height: 140px; }
    .modal-project-circle:hover .modal-project-close {
      font-size: 28px;
      top: 60%;
      right: 60%;
      opacity: 1; } }

@media (min-width: 900px) and (max-width: 1099px) {
  .modal-project-circle {
    width: 130px;
    height: 130px;
    border-radius: 140px; }
  .modal-project-close {
    position: absolute;
    top: 60%;
    right: 60%; }
  .modal-project-circle:hover {
    width: 140px;
    height: 140px; }
    .modal-project-circle:hover .modal-project-close {
      font-size: 28px;
      top: 57%;
      right: 60%;
      opacity: 1; } }

@media (min-width: 800px) and (max-width: 899px) {
  .modal-project-circle:hover {
    width: 120px;
    height: 120px; }
    .modal-project-circle:hover .modal-project-close {
      font-size: 28px;
      top: 56%;
      right: 59%;
      opacity: 1; } }

@media (min-width: 600px) and (max-width: 899px) {
  .modal-project-circle {
    width: 110px;
    height: 110px;
    border-radius: 120px; }
  .modal-project-close {
    position: absolute;
    top: 56%;
    right: 58%; }
  .modal-project-circle:hover {
    width: 120px;
    height: 120px; }
    .modal-project-circle:hover .modal-project-close {
      font-size: 28px;
      top: 53%;
      right: 57%;
      opacity: 1; } }

@media (min-width: 600px) and (max-width: 699px) {
  .modal-project-circle {
    width: 100px;
    height: 100px;
    border-radius: 110px; }
  .modal-project-close {
    position: absolute;
    top: 52%;
    right: 54%; }
  .modal-project-circle:hover {
    width: 110px;
    height: 110px; }
    .modal-project-circle:hover .modal-project-close {
      font-size: 28px;
      top: 50%;
      right: 55%;
      opacity: 1; } }

@media (min-width: 320px) and (max-width: 599px) {
  .modal-project-circle {
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border-radius: 0; }
  .modal-project-close {
    line-height: 45px;
    position: static;
    display: block;
    text-align: center; }
  .modal-project-circle:hover {
    width: 45px;
    height: 45px; }
    .modal-project-circle:hover .modal-project-close {
      font-size: 28px;
      opacity: 1; } }

@media (min-width: 900px) and (max-width: 1200px) {
  .owl-carousel, .owl-stage-outer {
    max-width: 900px !important; }
  .title-site {
    font-size: 50px; }
  .description-site {
    font-size: 20px; } }

@media (min-width: 800px) and (max-width: 949px) {
  .owl-carousel, .owl-stage-outer {
    max-width: 700px !important; } }

@media (min-width: 700px) and (max-width: 799px) {
  .owl-carousel, .owl-stage-outer {
    max-width: 600px !important; } }

@media (min-width: 600px) and (max-width: 699px) {
  .owl-carousel, .owl-stage-outer {
    max-width: 500px !important; } }

@media (min-width: 500px) and (max-width: 599px) {
  .owl-carousel, .owl-stage-outer {
    max-width: 400px !important; } }

@media (min-width: 320px) and (max-width: 799px) {
  .so-bl-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .dma-developer {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .so-bl-lf {
    text-align: center;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .title-site {
    font-size: 30px; }
  .description-site {
    font-size: 18px;
    margin-top: 10px; }
  .so-bt {
    margin-bottom: 50px; }
  .modal-callback-block {
    max-width: 600px;
    max-height: 500px;
    margin-top: 30%; }
  .form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 490px;
    margin-top: 30px;
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .callback-form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 5px; }
  .callback-form:nth-child(2) {
    margin: 20px 0; }
  .callback-form-bt {
    width: 100%; }
  .modal-circle {
    top: -16%;
    right: -8%; }
  .modal-close {
    top: 68%;
    right: 62%; }
  .modal-callback-description-bottom-two {
    max-width: 500px; } }

@media (min-width: 320px) and (max-width: 600px) {
  .bt-all-style, .so-bl-lf, .st-bl-bottom {
    width: 100%; }
  .modal-callback-block {
    max-height: 550px; }
  .modal-circle {
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    height: 35px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border-radius: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .modal-circle:hover {
    width: 35px;
    height: 35px; }
    .modal-circle:hover .modal-close {
      font-size: 16px; }
  .modal-close {
    position: static;
    margin: 0 auto;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .modal-other-img {
    display: none; }
  .modal-other-form {
    width: 100%; }
  .other-form {
    width: 100%; } }

@media (min-width: 320px) and (max-width: 500px) {
  .modal-callback-form fieldset {
    max-width: 100%;
    margin: 0; }
  .modal-callback-title {
    font-size: 22px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 12px;
    text-align: left; }
  .modal-callback-description-top {
    max-width: 100%;
    text-align: left; }
  .form-block {
    margin-top: 30px; } }

@media (min-width: 1030px) and (max-width: 1100px) {
  .bl-level {
    max-width: 240px; } }

@media (min-width: 320px) and (max-width: 1029px) {
  .st-bl-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bl-level:nth-child(3) {
    margin-top: 30px; }
  .bl-level:nth-child(4) {
    margin-top: 30px; }
  .st-bl-center {
    margin-bottom: 40px; }
  .menu {
    display: none; }
  .menu-modal-container {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.9); }
  .menu-modal-container-active {
    display: block; }
  .menu-modal, .menu-modal-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu-modal {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu-modal-logo {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 50%;
    background: url("../img/icon/rocket.svg") center no-repeat;
    background-color: #ff3592;
    background-size: 50%; }
  .menu-modal-list {
    margin: 0;
    padding: 0; }
  .menu-modal-list-item {
    margin: 5px 0;
    list-style-type: none; }
  .menu-modal-list-item-link {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    color: #000; }
  .menu-modal-list-item-link:hover {
    cursor: pointer;
    color: #ff3592; }
  .burger-menu, .menu-icon {
    position: relative;
    z-index: 9999999;
    display: block;
    width: 40px;
    height: 20px;
    padding: 10px;
    cursor: pointer; }
  .menu-icon-item {
    position: absolute;
    left: 0;
    display: block;
    width: 40px;
    height: 4px;
    background: -webkit-linear-gradient(77deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%);
    background: -o-linear-gradient(77deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%);
    background: linear-gradient(13deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%); }
  .menu-icon-item:nth-child(1) {
    top: 0;
    -webkit-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  .menu-icon-item:nth-child(2) {
    top: 8px;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
    opacity: 1; }
  .menu-icon-item:nth-child(3) {
    top: 16px;
    -webkit-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  .menu-icon-item-active:nth-child(1) {
    top: 8px;
    -webkit-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .menu-icon-item-active:nth-child(2) {
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
    opacity: 0; }
  .menu-icon-item-active:nth-child(3) {
    top: 8px;
    -webkit-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; } }

@media (min-width: 320px) and (max-width: 779px) {
  .st-bl-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .bl-level {
    margin-top: 20px; }
  .title-bl {
    font-size: 45px; } }

@media (min-width: 600px) and (max-width: 982px) {
  .title-bl-wh {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 15px; }
  .description-bl-wh {
    line-height: 25px; } }

@media (min-width: 320px) and (max-width: 599px) {
  .title-bl-wh {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px; }
  .description-bl-wh {
    line-height: 25px; }
  .h-bt-callback {
    font-size: 0;
    display: block;
    width: 35px;
    height: 35px;
    padding: 10px;
    border: 1px solid #ff3592;
    border-radius: 50%;
    background: url("../img/icon/phone-call.svg") no-repeat center;
    background-color: #fff;
    background-size: 50%; }
  .h-bt-callback:hover {
    background: url("../img/phone-call-w.svg") no-repeat center;
    background-color: #ff3592;
    background-size: 50%; }
  .section-one {
    background-position: 50% -40%;
    background-size: 180%; } }

@media (min-width: 320px) and (max-width: 399px) {
  .f-bl-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .f-bl-center {
    margin: 30px 0; }
  .f-bl-em {
    margin-top: 20px; }
  .f-menu-list-item:nth-child(2) {
    margin: 10px 0 10px 0 !important; }
  .f-bl-socia {
    margin-top: 10px; }
  .f-bl-right {
    width: 100%; }
  .f-bt-callback {
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    border: none;
    background-color: #ff4e2e; }
  .tel {
    font-size: 16px; }
  .owl-carousel, .owl-stage-outer {
    max-width: 280px !important; }
  .modal-other-title {
    font-size: 26px; } }

@media (min-width: 400px) and (max-width: 699px) {
  .f-bl-center, .f-bl-left, .f-menu, .f-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .f-bl-em {
    margin-top: 0; }
  .f-bl-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .f-bl-center {
    margin: 30px 0; }
  .f-bl-right {
    width: 100%; }
  .f-menu-list-item:nth-child(2) {
    margin: 10px 0 10px 0 !important; }
  .f-bl-socia {
    margin-top: 10px; }
  .f-bt-callback {
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    border: none;
    background-color: #ff4e2e; }
  .f-bt-callback:hover {
    cursor: pointer;
    color: #fff;
    background-image: -webkit-linear-gradient(77deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%);
    background-image: -o-linear-gradient(77deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%);
    background-image: linear-gradient(13deg, #ff8f5a 30%, #ff2f96 99%, #ff2f96 100%); } }

@media (min-width: 320px) and (max-width: 499px) {
  .dma-developer {
    width: 100%; }
  .st-bl-all {
    padding: 50px 0; }
  .st-bl-center {
    margin: 50px 0 50px 0; }
  .title-bl {
    font-size: 32px; }
  .title-site {
    font-size: 30px !important; }
  .description-site {
    font-size: 18px !important;
    margin-bottom: 20px;
    text-align: center; } }

@media (min-width: 1150px) and (max-width: 1740px) {
  .sf-el-bg:nth-child(3) {
    top: 15%;
    right: 5%; }
  .sf-el-bg:nth-child(5) {
    bottom: 15%;
    left: 10%; }
  .section-one {
    background-position: 120% 0; } }

@media (min-width: 1150px) and (max-width: 1400px) {
  .sf-el-bg:nth-child(4) {
    top: 40%;
    left: 6%; }
  .section-one {
    background-position: 150% 0; } }

@media (min-width: 320px) and (max-width: 1299px) {
  .sf-el-bg:nth-child(5) {
    bottom: 2%;
    left: 10%; } }

@media (min-width: 600px) and (max-width: 1149px) {
  .sf-el-bg:nth-child(2) {
    top: 2%;
    left: 5%; }
  .sf-el-bg:nth-child(3) {
    top: 3%;
    right: 25%; }
  .sf-el-bg:nth-child(4) {
    top: 57%;
    left: 90%; }
  .sf-el-bg:nth-child(6) {
    right: 17%;
    bottom: 8%; }
  .section-one {
    background-position: 240% 0; } }

@media (min-width: 320px) and (max-width: 980px) {
  .sf-el-bg {
    font-size: 30px !important; } }

@media (min-width: 320px) and (max-width: 749px) {
  .sf-el-bg {
    display: none; } }

@media (min-width: 1016px) and (max-width: 1069px) {
  .section-one {
    background-position: 350% 0; } }

@media (min-width: 320px) and (max-width: 1015px) {
  .so-bl-lf {
    display: none; }
  .so-bl-all {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .title-site {
    font-size: 50px; }
  .description-site {
    font-size: 20px; } }

@media (min-width: 800px) and (max-width: 1015px) {
  .section-one {
    background-position: 50% -30%;
    background-size: 120%; }
  .modal-callback-block {
    margin-top: 25%; } }

@media (min-width: 600px) and (max-width: 799px) {
  .section-one {
    background-position: 50% -40%;
    background-size: 140%; } }

@media (min-width: 1015px) and (max-width: 2000px) {
  .section-one-media {
    display: none; } }

@media (min-width: 1015px) and (max-width: 1650px) {
  .so-el-bg:nth-child(4) {
    top: 55%;
    left: 5%; } }

@media (min-width: 1015px) and (max-width: 1460px) {
  .so-el-bg:nth-child(5) {
    bottom: 20%;
    left: 35%; }
  .so-el-bg:nth-child(4) {
    top: 25%;
    left: 5%; } }

@media (min-width: 1015px) and (max-width: 1260px) {
  .so-el-bg:nth-child(2) {
    top: 12%;
    left: 20%; }
  .so-el-bg:nth-child(3) {
    top: 20%;
    left: 35%; }
  .so-el-bg:nth-child(5) {
    bottom: 20%;
    left: 25%; }
  .so-el-bg:nth-child(6) {
    bottom: 5%;
    left: 5%; } }

@media (min-width: 850px) and (max-width: 1014px) {
  .so-el-bg:nth-child(2) {
    top: 40%;
    left: 5%; }
  .so-el-bg:nth-child(3) {
    top: 15%;
    left: 15%; }
  .so-el-bg:nth-child(4) {
    top: 2%;
    left: 65%; }
  .so-el-bg:nth-child(5) {
    bottom: 79%;
    left: 89%; }
  .so-el-bg:nth-child(6) {
    display: none; } }

@media (min-width: 700px) and (max-width: 849px) {
  .so-el-bg:nth-child(2) {
    top: 35%;
    left: 5%; }
  .so-el-bg:nth-child(3) {
    top: 10%;
    left: 15%; }
  .so-el-bg:nth-child(4) {
    top: 0;
    left: 65%; }
  .so-el-bg:nth-child(5) {
    bottom: 85%;
    left: 89%; }
  .so-el-bg:nth-child(6) {
    display: none; } }

@media (min-width: 320px) and (max-width: 699px) {
  .so-el-bg {
    font-size: 30px; }
  .so-el-bg:nth-child(2) {
    top: 25%;
    left: 5%; }
  .so-el-bg:nth-child(3) {
    top: 3%;
    left: 15%; }
  .so-el-bg:nth-child(4) {
    top: 0;
    left: 65%; }
  .so-el-bg:nth-child(5) {
    bottom: 90%;
    left: 89%; }
  .so-el-bg:nth-child(6) {
    display: none; } }

@media (min-width: 320px) and (max-width: 525px) {
  .dma-developer {
    width: 80%; }
  .so-el-bg {
    font-size: 24px; }
  .so-el-bg:nth-child(5) {
    bottom: 85%; }
  .so-el-bg:nth-child(3) {
    font-size: 18px;
    left: 10%; } }

@media (min-width: 400px) and (max-width: 499px) {
  .owl-carousel, .owl-stage-outer {
    max-width: 300px !important; }
  .f-bl-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .f-bl-em {
    margin-top: 20px; } }

@media (min-width: 1651px) and (max-width: 2000px) {
  .so-el-bg:nth-child(2) {
    -webkit-animation: mediaTeg-one 2s ease 1;
    animation: mediaTeg-one 2s ease 1; }
  .so-el-bg:nth-child(3) {
    -webkit-animation: mediaTeg-two 2s ease 1;
    animation: mediaTeg-two 2s ease 1; }
  .so-el-bg:nth-child(4) {
    -webkit-animation: mediaTeg-three 2s ease 1;
    animation: mediaTeg-three 2s ease 1; }
  .so-el-bg:nth-child(5) {
    -webkit-animation: mediaTeg-four 2s ease 1;
    animation: mediaTeg-four 2s ease 1; }
  .so-el-bg:nth-child(6) {
    -webkit-animation: mediaTeg-five 2s ease 1;
    animation: mediaTeg-five 2s ease 1; } }
